* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    overflow-x: hidden;

}

.swiper,
.swiper-wrapper,
.card {
    background: transparent;
}

.container {
    width: 100%;
    height: 100%;
    /* background-color: black; */


}

.home {
    width: 100%;
    height: 80%;
    background-image: url('../images/home.jpg');
    background-size: cover;
    position: relative;

}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.503);
    position: fixed;
    z-index: 2;

}

.nav1 {
    background-color: rgba(0, 0, 0, 0.912);
}

.nav .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;


}

.left ul {
    display: flex;
    margin-left: 40px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;


}

.left ul li:first-child {
    font-weight: 700;
}

li {
    list-style: none;
    margin-right: 20px;
}

.left img {
    width: 121px;
    height: 39px;
}

.nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;

}

.right i {
    margin: 20px;
}

.right h6 {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 300;

}

.right img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.con {
    width: 40%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #000000d0 1.74%, rgba(196, 196, 196, 0) 83.87%);
    height: 92%;
    position: relative;
    top: 8.7%;
}

.con .image {
    margin-left: 100px;
}

.con .par {
    margin-left: 100px;
    color: white;
}

.par h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
}

.par p {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    width: 90%;
}

.but {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
}

.but .but1 {
    background: #ffffffe7;
    border-radius: 5px;
    width: 150px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 0.653);
    display: flex;
    justify-content: center;
    align-items: center;


}

.but1 span {
    margin-left: 10px;

}

.but1:hover {
    background-color: rgba(255, 255, 255, 0.666);
}

.but .but2:hover {
    background: #616161b0;
}

.but .but2 {
    width: 200px;
    height: 70px;
    background: #616161ed;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: white;
    margin-left: 50px;
    border: 1px solid #616161;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but2 span {
    margin-left: 7px;

}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* .first-swiper .swiper-pagination {
    position: ;
    left: 100%;
} */

.card1 .img img {
    display: block;
    /* width: 130%; */
    height: 100%;
    object-fit: cover;
}

.card1 .img1 img {
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;


}


.cast {
    margin-top: 50px;
}

.cast-swiper {
    height: 400px;
    margin-top: 50px;
    position: relative;

    /* background-color: brown; */
}

.cast h3 {
    display: inline-block;
}

h3 i {
    color: red;
}

.card1 .img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

#more {
    position: relative;
    left: 70%;
}

.cast-swiper .swiper-slide {
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
}

/* .big-swiper .big-slide {
    width: 270px;
    height: 100%;
} */

.big-slide .img2 {

    width: 100%;
    height: 100%;
    /* background-color: aqua; */

}


.big-slide .img2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;


}

.number h1 {
    color: black;
    font-weight: 700;
    font-size: 240px;
    line-height: 180.69%;
    -webkit-text-stroke: 5px #989898;
}

.first-swiper .swiper-wrapper {
    position: relative;
    left: 100px;
}

.img {
    transform: translate(-50px, -1px);
}

.card1 {
    margin: 0px;
    /* background-color: #616161; */
    /* border: 1px solid black; */
    height: 200px;
    width: 500px;
    background: transparent;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    border-radius: 0;
    margin: 0;
}

.big-swiper .swiper-button-next {
    left: 90%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 24px;
    font-weight: bolder;
}

.swiper-button-prev {
    left: 50px;
    display: none;
    color: white;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    top: -14px;
    left: 90%;
    height: 10px;

}

.big-swiper .swiper-pagination {
    position: absolute;
    width: 20px;
    height: 10px;
    top: -14px;
}

.cast-swiper .swiper-pagination {
    position: absolute;
    top: -14px;
    left: 1700px;
    height: 10px;
}

.swiper .swiper-pagination {
    display: none;
    width: 50px;
    height: 5px;
}

.big-swiper .swiper-wrapper {
    padding: 0;
    margin-left: 10px;
    /* width: 100%; */
    /* position: relative;
    left: -180px; */
}

.cast .swiper-button-next {
    left: 90%;
}


.swiper-button-next {
    position: absolute;
    /* right: 100px; */
    left: 90%;
    cursor: pointer;
    display: none;
    color: white;
}

.slide1 h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 170.69%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 100px;
}

.swiper-pagination-bullet {
    background-color: white;
}

.swiper:hover .swiper-pagination {
    display: block;
    background-color: aqua;
    /* width: 100px; */
}

.swiper:hover .swiper-button-next {
    display: block;
}

.swiper:hover .swiper-button-prev {
    display: block;
}

.footer {
    background-image: url('../images/footer.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 350px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    /* top: 50%; */

    /* width: 100vw; */
    color: #FFFFFF;
    margin-bottom: 20px;
    /* margin-top: 50px; */
}

.footer .list {
    display: flex;
    margin-top: 100px;
    /* margin-left: 100px; */
    justify-content: space-around;
}

.list ul li {
    margin-bottom: 10px;

}

.footer p {
    margin-left: 200px;
    position: relative;
    top: 50px;

}

.but-footer {
    margin-left: 200px;
    margin-top: 20px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    background: transparent;
    border: 1px solid #FFFFFF;
    width: 206.38px;
    height: 47.87px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but-footer .move {
    position: relative;
    top: -8px;

}

.footer h1 {
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
    top: 30px;
    left: 200px;
}


/* ///////////////////////////////////// */
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    z-index: 3;
    /* margin-top: 200px; */
    position: relative;
    /* */
}


.card .img1 {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;
    z-index: 4;

}

.card .img1 {

    position: absolute;

    top: 20%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.card .slide2 {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.card .slide2.slide3 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.card:hover .slide2.slide3 {

    transform: translateY(0px);

}

.card .slide2.slide4 {

    position: relative;
    height: 100px;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

}

.card:hover .slide2.slide4 {

    transform: translateY(0);

}

.slide2.slide4 .content i {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: whitesmoke solid 2px;
    align-self: center;
    padding: 6px;
    color: whitesmoke;
}

.slide2.slide4 .content i:first-child {
    padding-left: 7px;
    color: #000000;
    background-color: whitesmoke;

}

.slide2.slide4 .content i:nth-child(3) {
    padding-left: 4px;
}

.card .slide2.slide4::after {

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    top: 90%;

    transform: translateX(-50%);

    background: red
}






.card .img img {
    display: block;
    width: 130%;
    height: 100%;
    object-fit: cover;
}

.card .img1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.bigger {
    width: 150vw;

}

/* cards================================= */

.cards2 .layer {
    z-index: 1;
    position: absolute;
    top: calc(100% - 2px);
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.689);
    transition: 0.5s;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards2:hover .layer {
    top: 0;
}

.layer i {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    border: whitesmoke solid 2px;
    align-self: center;
    /* padding: 6px; */
    color: whitesmoke;
    padding-left: 10px;
    padding-top: 6px;
    margin-left: 10px;
}

.cards2 {
    width: 200px;
    height: 378px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: none;
    /* margin-left: 100px; */

}